.BlogsListPage {
  max-width: 944px;
  margin: 0 auto;
}

.BlogsListPage h2 {
  margin: 32px 0px 32px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.BlogListPage--color-splash {
  color: #0060c7;
}
