.BlogPage {
  max-width: 944px;
  margin: 0 auto;
}

.BlogPage__blog_list {
  width: 100%;
}

.BlogPage__blog_list > h3 {
  margin: 32px 0px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.BlogPage .BlogListItem:nth-child(1) > a {
  flex-direction: row;
  justify-content: space-between;
}

.BlogPage .BlogListItem:nth-child(1) .BlogListItem__title {
  font-size: 20px;
  margin: 0px;
}

.BlogPage .BlogListItem:nth-child(1) .BlogListItem__pic_holder {
  width: calc((100vw - 32px) * 0.2777);
  max-width: 200px;
}

.BlogPage .BlogListItem:nth-child(1) .BlogListItem__info {
  width: auto;
  height: calc((100vw - 32px) * 0.2777);
  max-height: 200px;
  border-left-color: #2d8cfb;
}

.BlogPage .BlogListItem:nth-child(1) .BlogListItem__pic {
  width: 100%;
  height: calc((100vw - 32px) * 0.2777);
  max-height: 200px;
}

.BlogPage .BlogListItem:nth-child(1) .BlogListItem__author {
  width: 50%;
  margin-top: 16px;
  border-bottom-color: #2d8cfb;
}

.BlogPage .BlogListItem:nth-child(1) .BlogListItem--color-splash {
  color: #fa813d;
}

.BlogPage--color-splash {
  color: #fa813d;
}
