.BlogPage {
  min-height: 100vh;
  padding: 8px 16px;
  max-width: 944px;
  margin: 0 auto;
}

.BlogPage__blog_list > h3 {
  margin: 32px 0px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
