.BlogPage {
  max-width: 944px;
  margin: 0 auto;
}

.BlogPage--loading-splash {
  text-align: center;
  font-size: 24px;
  margin: 16px;
}

.BlogPage--color-splash {
  color: #fa813d;
}

.BlogPage--loading-splash svg {
  color: #0060c7;
}

.BlogPage__blog_list {
  width: 100%;
}

.BlogPage__blog_list > h3 {
  margin: 32px 0px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
