.BlogBody {
  line-height: 1.5em;
  width: 100%;
}

.BlogBody__title {
  font-weight: 600;
  font-size: 24px;
  margin: 32px 0px;
}

.BlogBody__pic {
  width: 100%;
  height: calc((100vw - 32px) / 900 * 510);
  background-position: center;
  background-size: cover;
}

.BlogBody__date_and_views {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  font-size: 13px;
  color: grey;
}

.BlogBody__content strong {
  font-weight: 600;
}

.BlogBody__content em {
  font-style: italic;
}

.BlogBody__content sub {
  vertical-align: sub;
  font-size: smaller;
}

.BlogBody__content sup {
  vertical-align: super;
  font-size: smaller;
}

.BlogBody__content h3 {
  font-size: 24px;
  font-weight: 600;
}

.BlogBody--color-splash {
  color: #fa813d;
}

.BlogBody__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 157.5px;
  margin-top: 16px;
}

@media screen and (min-width: 650px) {
  .BlogBody__buttons {
    flex-direction: row;
    max-width: 700px;
  }
}
