.BlogListItem {
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.123);
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 288px;
}

.BlogListItem__title_link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1em;
}

.BlogListItem:nth-child(1) > a {
  flex-direction: column-reverse;
  align-items: center;
}

.BlogListItem__info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BlogListItem__title {
  font-weight: 600;
}

a.BlogListItem__title_link:link,
a.BlogListItem__title_link:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.BlogListItem__date_and_views {
  font-size: 10px;
  color: grey;
}

.BlogListItem__author {
  width: 120px;
  border-top: 1px solid rgba(0, 0, 255, 0.123);
  font-size: 13px;
  margin-bottom: 8px;
  padding-top: 4px;
}

.BlogListItem__pic {
  width: calc((100vw - 32px) * 0.2777);
  height: calc((100vw -32px) * 0.2777);
  max-width: 200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
}

.BlogListItem:nth-child(1) .BlogListItem__pic {
  width: 288px;
  max-width: 288px;
  height: 173px;
  max-height: 173px;
}

.BlogListItem:nth-child(1) h3 {
  font-size: 24px;
  line-height: 1.5;
}

.BlogListItem + .BlogListItem {
  margin-top: 16px;
}
