.BlogListItem {
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.BlogListItem__title_link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1em;
}

.BlogListItem__info {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 200;
}

.BlogListItem__pic_holder {
  flex-grow: 1;
}

.BlogListItem__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
}

a.BlogListItem__title_link:link,
a.BlogListItem__title_link:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.BlogListItem__date_and_views {
  font-size: 13px;
  color: grey;
}

.BlogListItem__author {
  width: 50%;
  border-bottom: 1px solid #2d8cfb;
  padding: 4px 0px;
  font-size: 16px;
}

.BlogListItem__pic {
  width: calc((100vw - 32px) * 0.2777);
  height: calc((100vw -32px) * 0.2777);
  max-width: 200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
}

.BlogListItem + .BlogListItem {
  margin-top: 32px;
}

.BlogListItem--color-splash {
  color: #fa813d;
}

.BlogListItem:nth-child(1) > a {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.BlogListItem:nth-child(1) .BlogListItem__title {
  line-height: 1;
  font-size: 24px;
  margin-top: 16px;
}

.BlogListItem:nth-child(1) .BlogListItem__date_and_views {
  line-height: 1;
}

.BlogListItem:nth-child(1) .BlogListItem__pic_holder,
.BlogListItem:nth-child(1) .BlogListItem__info {
  width: 100%;
}

.BlogListItem:nth-child(1) .BlogListItem__pic {
  width: 100%;
  max-width: 100%;
  height: 173px;
  max-height: 173px;
}

.BlogListItem:nth-child(1) .BlogListItem__author {
  width: 100%;
  margin-top: 16px;
  border-bottom-color: #c1520b;
}

.BlogListItem:nth-child(1) .BlogListItem--color-splash {
  color: #0060c7;
}
