.BlogListItem {
  background-color: white;
  overflow: hidden;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px dotted #2d8cfb;
  line-height: 1;
}

.BlogListItem__title_link {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.BlogListItem__info {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BlogListItem__pic_holder {
  grid-column-start: 4;
}

.BlogListItem__title {
  font-size: 20px;
  line-height: 1.25;
  max-height: 49.6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 8px;
}

a.BlogListItem__title_link:link,
a.BlogListItem__title_link:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.BlogListItem__date_and_author_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.BlogListItem__date {
  color: grey;
}

.BlogListItem__views {
  color: grey;
  font-family: "Libre Franklin", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-align: end;
}

.BlogListItem__pic {
  width: 100%;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.BlogListItem + .BlogListItem {
  margin-top: 16px;
}

.BlogListItem--color-splash {
  color: #fa813d;
}
