.EditBlog {
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
}

.EditBlog h2 {
  margin: 32px 0px 0px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.EditBlog .hint {
  margin: 0px 0px 32px;
  text-align: center;
}

.EditBlog__title,
.EditBlog__picture,
.EditBlog__content {
  display: flex;
  flex-direction: column;
}

.EditBlog label {
  margin-bottom: 8px;
  margin-left: 16px;
}

.EditBlog input {
  border: 1px solid rgb(218, 220, 224);
  padding: 16px 13px;
  border-radius: 5px;
}

.EditBlog__pic {
  width: 100%;
  height: calc((100vw - 32px) / 90 * 51);
  max-height: calc((944px) / 90 * 51);
  background-position: center;
  background-size: cover;
}

.EditBlog__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 157.5px;
}

@media screen and (min-width: 650px) {
  .EditBlog__buttons {
    flex-direction: row;
    max-width: 700px;
  }
}
