.Landing {
  max-width: 944px;
  margin: 0 auto;
  line-height: 1.5em;
}

.Landing header {
  padding: 32px 15px;
  font-weight: 600;
  text-align: center;
}

.Landing h1 {
  font-size: 32px;
  margin: 27px 0px 8px;
}

.Landing h1 a {
  color: black;
  text-decoration: none;
}

.Landing h2 {
  font-size: 20px;
  margin: 0px 0px 24px;
  font-weight: 400;
  color: #fa813d;
}

.Landing h3 {
  font-size: 20px;
}

.Landing--color-splash {
  color: #0060c7;
}

.Landing section {
  min-height: 200px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Landing p {
  padding: 8px;
  margin: 0 auto;
  max-width: 650px;
}

.Landing p + .Landing p {
  margin-top: 15px;
}

.Landing .BlogList {
  max-height: 464px;
  overflow: scroll;
  margin-top: 16px;
}

.Landing .BlogListItem header {
  padding: 0px;
  text-align: start;
}

.Landing section a {
  color: #2d8cfb;
  text-decoration: underline;
}
