.AddBlog {
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
}

.AddBlog h2 {
  margin: 32px 0px 0px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.AddBlog .hint {
  margin: 0px 0px 32px;
  text-align: center;
}

.AddBlog__title,
.AddBlog__picture,
.AddBlog__content {
  display: flex;
  flex-direction: column;
}

.AddBlog label {
  margin-bottom: 8px;
  margin-left: 16px;
}

.AddBlog input,
.fr-box {
  border: 1px solid rgb(218, 220, 224);
  padding: 16px 13px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.AddBlog input#placeholder {
  color: rgba(75, 74, 74, 0.5);
}

.fr-box.fr-basic {
  border: none;
  padding: 0;
}

.AddBlog__pic {
  width: 100%;
  height: calc((100vw - 32px) / 90 * 51);
  max-height: calc((944px) / 90 * 51);
  background-position: center;
  background-size: cover;
  margin-top: 16px;
}
