.CreateAccountForm {
  padding: 8px 16px;
  max-width: 944px;
  margin: 0 auto;
}

.CreateAccountForm h2 {
  margin: 32px 0px 0px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.CreateAccountForm .hint {
  margin: 0px 0px 32px;
  text-align: center;
}
