.CreateAccountForm {
  max-width: 320px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
}

.CreateAccountForm h2 {
  margin: 32px 0px 0px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.CreateAccountForm .hint {
  margin: 0px 0px 32px;
  text-align: center;
}

.CreateAccountForm__buttons {
  max-width: 288px;
  margin: 0px auto;
}

.CreateAccountForm__other_links {
  margin-top: 16px;
  text-align: center;
  font-size: 13px;
}

.CreateAccountForm__other_links a {
  color: #2d8cfb;
}

@media screen and (min-width: 450px) {
  .CreateAccountForm {
    padding: 16px;
    margin-top: 32px;
  }
}
