.Required {
  color: #ca1551;
  font-weight: 600;
}

.ValidationError {
  color: #ca1551;
  margin-top: 8px;
  max-width: 288px;
}

.NoError {
  height: 16px;
  margin-top: 8px;
}

.Label {
  position: relative;
  width: max-content;
  top: 9px;
  left: 12px;
  background-color: white;
  padding: 0px 4px;
  color: grey;
  z-index: 0;
}

.LabelGroup {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0px auto 32px;
}

.Input {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 5px;
  padding: 16px 13px;
  font-size: 16px;
  width: 288px;
}

.Input:focus,
input:active {
  border: 2px solid rgba(66, 133, 244);
  padding: 15px 12px;
}

.Button.form__button {
  height: 52.4px;
  width: 288px;
  border: none;
  border-radius: 5px;
  padding: auto;
  font-size: 16px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 121, 191, 1) 0%,
    rgba(0, 177, 255, 1) 100%
  );
  color: white;
  font-weight: 600;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Page {
  min-height: 100vh;
  padding: 51px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
